@import '../../src/common/styles/saas/variables';

.projectsBlock {
  background-color: $bgColor;
  padding: 10px 0px;
}

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

@media screen and (max-width: 750px) {
  .projectsContainer {
    display: flex;
    justify-content: center;
  }
}

    .projects {
      margin-top: 30px;
      width: 100%;
      display: flex;

    }


